NeuroML2/*.dat
NeuroML2/*.mod
NeuroML2/*nrn.py
Brian/*.dat
x86_64
*~
/NeuroML2/LEMS_TwoCells_brian2.py
/NeuroML2/LEMS_TwoCells_netpyne.py
/NeuroML2/LEMS_TwoCells_netpyne.py_main.json
/NeuroML2/NET_TwoCells.net.nml
/NeuroML2/NET_net1.net.nml
/NeuroML2/LEMS_TwoCells_pynn.py
/NeuroML2/*.json
/NeuroML2/*_inputdefinition.py
/NeuroML2/*.pyc
/NeuroML2/*_celldefinition.py
